#app {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(217, 217, 217);
    margin: 0;
}

#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 92vh;
    width: 95vw;
    border-radius: 60px;
    gap: 10px;
    background-color: rgb(238, 241, 242);
    border: 15px solid rgb(200, 235, 245);
}

#menu-section {
    width: 6%;
    height: 96%;
    margin-left: 1%;
    border-radius: 30px;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.5);
    background-color: rgb(200, 235, 245);
}

#main-section {
    width: 68%;
    height: 100%;
    display: flex;
    gap: 2%;
    flex-direction: column;
}

#header-bar{
    width: 100%;
    height: 40%;
    background-color: black;
}

#graph-section{
    width: 100%;
    height: 57%;
    background-color: green;
}

#profile-section {
    width: 25%;
    height: 100%;
    border-radius: 0 48px 48px 0;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.5);
    background-color: white;
}